<section class="customers">
  <div class="container customers-container">
    <div class="box-title-customers">
      <h2 class="title-customers">What our Customers Say</h2>
      <p class="text-customers">
        Don't just take our word for it - see what our satisfied customers have
        to say
      </p>
    </div>
    <div class="box-customers">
      <div class="box-sumith-shah">
        <svg class="svg-stars" width="101" height="16">
          <use href="/images/icons.svg#icon-5stars"></use>
        </svg>
        <p class="text-review">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="box-person-customers">
          <img
            class="img-person"
            src="/images/customers/pers-1.png"
            alt="person"
          />
          <div class="box-text-shah">
            <p class="text-shah">Sumith Shah</p>
            <p class="text-dude">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="box-sumith-shah2">
        <svg class="svg-stars" width="101" height="16">
          <use href="/images/icons.svg#icon-5stars"></use>
        </svg>
        <p class="text-review">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="box-person-customers">
          <img
            class="img-person"
            src="/images/customers/pers-2.png"
            alt="person"
          />
          <div class="box-text-shah">
            <p class="text-shah">Sumith Shah</p>
            <p class="text-dude">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
