<section class="section-subscribe">
  <div class="container">
    <div class="box-subscribe">
      <picture>
        <source
          srcset="/images/subscribe/banan-desk.png 1x"
          media="(min-width: 1158px)"
        />
        <source
          srcset="/images/subscribe/banan-tab.png 1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/images/subscribe/banan-mob.png 1x"
          media="(max-width: 767px)"
        />
        <img
          class="img-subscribe"
          src="/images/subscribe/banan-mob.png"
          alt="banan"
        />
      </picture>
      <div class="box-form">
        <h2 class="title-subscribe">Subscribe To Get Special Offers</h2>
        <div class="box-input">
          <p class="text-subscribe">
            Order now and receive 10% off your first meal with Enjoy Your
            Favorite Food From Anywhere.
          </p>
          <form class="form-subscribe">
            <label>
              <input
                class="input-subscribe"
                type="email"
                name="subscribe"
                placeholder="Enter your email"
                required
              />
            </label>
            <button class="button-subscribe" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
